@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg: #F8F8FF;
    --primary-color: #646FF0;
    --accent-color: #FAD448;
    --white: #FFFFFF;
    --dark-gray: #2D2D2D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost, sans-serif;

}

body {
    color: var(--dark-gray);
    background-color: var(--bg);
}

main {
    margin: 20px auto;
}